.navbar-collapse {
  margin-left: 20%;
}

@import url(https://fonts.googleapis.com/css?family=poppins);

.gstarted {
  justify-content: center;
}

.download:hover {
  filter: invert(70%);
}

.GS {
  background: rgb(44, 150, 83);
  width: 60%;
  height: 20%;
}
.GS:hover {
  color: black;
  background-color: rgb(78, 125, 20);
}
.GS a {
  color: white;
  display: inline-block;
}
.GS a:hover {
  color: black;
}
@media (min-width: 768px) {
  .GS {
    width: 100%;
    height: 10%;
  }
}
.Testimonials {
  background-color: rgb(71, 85, 54, 100%);
  margin-left: 5px;
}
.services {
  margin-left: 5px;
}
.about {
  background-color: rgb(241, 255, 224, 100%);
}
#submit {
  background-color: rgb(71, 85, 54, 100%);
}
/* .feature-icon{
    margin-right: 100px;
  } */
.quest {
  background-color: rgb(71, 85, 54, 100%);
  color: white;
}
.FAQ {
  background-color: rgb(241, 255, 224, 100%);
}
.links {
  background-color: rgb(241, 255, 224, 100%);
}
.medialink {
  width: 50px;
  height: 50px;
}
textarea {
  height: 120px;
}
.btn {
  background-color: rgb(71, 85, 54, 100%);
  color: white;
}

@media (min-width: 768px) {
  .foot {
    padding-top: 25%;
  }
}
.button {
  background-color: rgb(71, 85, 54, 100%);
  color: white;
}
.button:hover {
  background-color: rgb(185, 235, 120);
}
.create {
  color: rgb(71, 85, 54, 100%);
}
.cont {
  background-color: rgb(208, 238, 170);
}
.loginSection {
  width: 100%;
  height: 100%;
}
.logo {
  padding-left: 53%;
}
.side {
  margin-top: 35%;
}

.signin {
  background-color: transparent;
  color: rgb(83, 82, 82);
}
.column-2 {
  background-color: rgb(208, 238, 170);
}
@media (min-width: 0) and (max-width: 600px) {
  .mobile {
    background-color: rgb(208, 238, 170);
  }
}
.forgot-container {
  margin-top: 5%;
  height: auto;
}

.reset-container {
  height: auto;
  padding-bottom: 30px;
  margin-top: 5%;
}
.privacy {
  background-color: rgb(71, 85, 54, 100%);
}
/* @media (min-width: 768px) { 
    .forgot-container{
    
      height: 30vh;
    }
  } */

.wrapper5 {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fafafa;
}
.wrapper5 h1 {
  font-size: 3em;

  margin: 25px;
}
.fs {
  font-size: 21px;
}
.fs1 {
  font-size: 26px;
  font-weight: bold;
}
.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}
.card {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}
.card i {
  margin: 20px;
  color: #581ed6;
}
.card h2 {
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
}
.card p {
  color: #6c757d;
  text-align: center;
}
.card:hover i,
.card:hover p {
  color: #fff;
}
.card:hover h2 {
  font-weight: 500;
}
.card:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(95, 159, 70, 0.7) 0%,
      rgb(71, 85, 54, 100%)
    ),
    url("@/assets/bg.jpg");
  background-size: cover;
}
.card:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(95, 159, 70, 0.7) 0%,
      rgb(71, 85, 54, 100%)
    ),
    url("@/assets/bg2.jpg");
  background-size: cover;
}
.card:nth-child(3):hover {
  background: linear-gradient(
      45deg,
      rgba(95, 159, 70, 0.7) 0%,
      rgb(71, 85, 54, 100%)
    ),
    url("@/assets/bg3.jpg");
  background-size: cover;
}
.card:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(95, 159, 70, 0.7) 0%,
      rgb(71, 85, 54, 100%)
    ),
    url("@/assets/bg4.jpg");
  background-size: cover;
}
.card:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(95, 159, 70, 0.7) 0%,
      rgb(71, 85, 54, 100%)
    ),
    url("@/assets/bg5.jpg");
  background-size: cover;
}
.card:nth-child(6):hover {
  background: linear-gradient(
      45deg,
      rgba(95, 159, 70, 0.7) 0%,
      rgb(71, 85, 54, 100%)
    ),
    url("@/assets/bg2.jpg");
  background-size: cover;
}
@media (max-width: 991px) {
  .wrapper {
    padding: 25px;
  }
  .wrapper h1 {
    font-size: 2.5em;
    font-weight: 600;
  }
  .content-box {
    flex-direction: column;
    width: 100%;
  }
  .card {
    min-width: 300px;
    margin: 10px auto;
  }
}

@media (min-width: 768px) {
  .form-1 {
    background-color: transparent;
  }
}
.signin {
  background-color: transparent;
  color: black;
}
.column-2 {
  background-color: rgb(208, 238, 170);
}

.forgot-container {
  margin-top: 5%;
  height: auto;
}

.reset-container {
  height: auto;
  padding-bottom: 30px;
  margin-top: 5%;
}
.history {
  background-color: rgba(71, 85, 54, 1);
  color: white;

  width: 420px;
}
.history:hover {
  color: #000;
  background-color: white;
}

.down {
  margin-top: 20px;
  width: 190px;
  height: 70px;
  background: #000;
  float: left;
  border-radius: 20px;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  margin-left: 25%;
}

@media (min-width: 768px) {
  .down {
    margin-left: 18%;
  }
}
.fas {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.one,
.two {
  position: absolute;
  left: 70px;
}
.one {
  top: 20px;
  font-size: 12px;
}
.two {
  top: 35px;
  font-size: 16px;
}
.down:hover {
  filter: invert(100%);
}
.edit {
  background-color: rgba(221, 255, 177, 1);
  border: 1px solid rgba(71, 85, 54, 1);
  color: rgba(71, 85, 54, 1);
}
.arrow {
  position: relative;
  left: -6%;
}
.john-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
}
.medi {
  background-color: white;
}

@media (min-width: 768px) {
  .medi {
    margin-top: 30%;
  }
}
@media (max-width: 696px) {
  .picture {
    height: 200px;
    width: 200px;
  }
}
.title {
  color: rgba(71, 85, 54, 1);
}

.appointment {
  color: rgba(255, 255, 255, 1);
  border: none;
  color: black;
}

.appointment:hover {
  background-color: rgba(71, 85, 54, 1);
  color: white;
}
.appointment:hover .title:first-child {
  color: white;
}
.appointment:hover svg {
  fill: white; /* Color on hover */
}
.list {
  background-color: rgba(255, 255, 255, 1);
  margin-left: 2px;
}

.list:hover {
  background-color: rgba(71, 85, 54, 1);
  color: white;
}
.list-4 {
  background-color: rgba(255, 255, 255, 1);
  margin-left: 2px;
}
@media (min-width: 560px) {
  .list-4 {
    border-top: none;
  }
}

.list-4:hover {
  background-color: rgba(71, 85, 54, 1);
  color: white;
}

.butadd {
  background-color: rgba(214, 255, 161, 1);
  border: none;
  color: rgba(71, 85, 54, 100%);
  height: 50px;
}
.butadd:hover {
  background-color: rgba(71, 85, 54, 100%);
  color: white;
}
body {
  background-color: rgba(241, 255, 224, 1);
}

.care {
  font-size: xx-large;
}
.caregiver {
  background-color: white;
  color: #000;
  border: none;
}
.caregiver:hover {
  background-color: rgba(71, 85, 54, 100%);
  color: rgba(255, 255, 255, 1);
}

.sml {
  font-size: x-small;
}
.but-accept {
  background-color: rgba(214, 255, 161, 1);
  width: 25%;
  font-size: x-small;
  border: none;
  margin-left: 75%;
}
.but-accept:hover {
  background-color: rgba(221, 255, 177, 1);
}

.sec {
  background-color: rgba(221, 255, 177, 1);
}
.butt-caregiver {
  margin-left: 40%;
}
.btn-complete {
  border: none;
  font-size: small;
  padding-top: 2px;
  padding-bottom: 4px;
}

.bus {
  margin-inline-end: 5px;
}
.btn-appointment {
  border: none;
  font-size: x-small;
  width: 70%;
}

.bg {
  background-color: rgba(238, 141, 140, 1);
}
.search::placeholder {
  color: rgb(94, 124, 56);
}
.search {
  margin-right: 25%;
  width: 250%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: rgba(71, 85, 54, 100%);
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  background-color: rgba(221, 255, 177, 1);
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: rgba(221, 255, 177, 1);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: none;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-close {
  background-color: rgba(238, 141, 140, 1);
}
.modal-buttons {
  margin-left: 90%;
}
.modal-topics {
  background-color: rgba(241, 255, 224, 1);
}
.modal-topics:hover {
  background-color: rgba(71, 85, 54, 100%);
  color: white;
}
.modal-info {
  background-color: rgba(221, 255, 177, 1);
}
/* line on modal*/
.line {
  background-color: black;
}
:root {
  --main-bg-color: #009d63;
  --main-text-color: #000000;
  --second-text-color: #6b8050;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}
.schbr {
  background-color: #d9d9d9;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  background-color: #fff;
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.createUserBtn{
  width: 10%;
  outline: none;
  border: none;
}
.avatar {
  border-radius: 50px;
  height: 45px;
  width: 45px;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}
.box {
  background-color: #d9d9d9;
}
.table {
  background-color: #d9d9d9;
}
.gn {
  background-color: #ddffb1;
}
.rd {
  background-color: #ee8d8c;
}
.wrapperforschedule {
  background-color: #f1ffe0;
}
.schdiv {
  align-items: center;
}
.sbar {
  border-radius: 10px;
  box-shadow: #585858;
  width: 450px;
}

.dash-search {
  padding-left: 25%;
}

.table {
  background-color: #d9d9d9;
}
.tbl {
  width: 100%;
}
.gn {
  background-color: #ddffb1;
}
.rd {
  background-color: #ee8d8c;
}
.card {
  box-shadow: 0 0 0.875rem 0 rgba(34, 46, 60, 0.05);
  margin-bottom: 24px;
}
.imgg {
  width: 150px;
  height: 150px;
}
.body {
  background-color: #f1ffe0;
}
.lnk {
  color: #000000;
}
.intt {
  border-radius: 5px;
}
.ntfn {
  border-radius: 10px;
}
.formm {
  background-color: #d9d9d9;
  height: 500px;
  border-radius: 5px;
}
.ilnchbx {
  margin: 10px 100px;
}
.gsstarted {
  width: 300px;
  justify-content: center;
}
#calendar {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  font-family: "Lato", sans-serif;
}
#calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
}
#calendar_content,
#calendar_weekdays,
#calendar_header {
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div,
#calendar_content div {
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #ffffff;
  color: #787878;
}
#calendar_content {
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div {
  float: left;
}
#calendar_content div:hover {
  background-color: #f8f8f8;
}
#calendar_content div.blank {
  background-color: #e8e8e8;
}
#calendar_header,
#calendar_content div.today {
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today {
  color: #ffffff;
}
#calendar_header {
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #ff6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1 {
  font-size: 1.5em;
  color: #ffffff;
  float: left;
  width: 70%;
}

input[type="text"]#time-picker {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 300px;
}
i[class^="icon-chevron"] {
  color: #ffffff;
  float: left;
  width: 15%;
  border-radius: 50%;
}
.ttl {
  width: 100%;
}
.btttn {
  width: 100px;
}
.cnfmapmt {
  background-color: #009d63;
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
